body{
    margin:0;
    padding: 0;
    background: rgba(101, 102, 96, 0.651);
}
.titulo h1{
    padding: 20px 0;
    text-align: center;
    font-size: 2,9em; 
    
    }
.name{
    width: auto;
    height: auto;

    background: white;
}

.info{
    width: 300px;
    height: 870px;
    background:rgb(34, 33, 33);
    float: left;
    margin-left: 18%;
}

.info img{
    width: 60%;
    height: 25%;
    margin: 10% 0% 0% 17%;
    
}
.info h4
{
    
    text-align: center;
    color: rgb(255, 255, 255);
    margin-left: 0%;
    font-family: monospace;
    font-size: 200%;
}

.info p{
    text-align: left;
    color: rgb(255, 255, 255);
    margin-left: 10%;
    font-family: monospace;
    font-size: 100%;
}
.otros{
    width: 600px;
    height: 870px;
    background:rgb(71, 71, 71);
    float: right;
    margin-right: 14%;
}
.otros h3{

    background: rgba(175, 224, 160, 0.89);
    width: auto;
    height: 5%;
    text-align: center;
    margin-top: 10%;
    font-family:monospace;
    font-size:xx-large;
}
h3{
    color: rgb(0, 0, 0);
}
h2{
    text-align: center;
    font-family: monospace;
    font-size: 130%;
    border-radius: 10%;
}
h2{
    background-color: rgba(197, 230, 49, 0.452);
    margin:10px 160px 10px 160px;
}

.otros p{
    font-family:monospace;
    font-size:115%;
    color:rgb(255, 255, 255);
    text-align: left;
    margin-left: 20%;
}
.container-table{
    width: 99%;
    background: white;
    margin: 15px auto;

    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-auto-rows: 50px;
}

.table__title{
    grid-column-start: 1;
    grid-column-end: 5;

    background: rgba(175, 224, 160, 0.89);
    color: rgb(27, 26, 26);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.9em;
    font-family:monospace;
}

.table__header, .table__item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.table__header{
    font-family:monospace;
    font-weight: bold;
    font-size: 1.2em;
}

.table__item{
    font-size: 1em;
    padding: 10px;
    font-family:monospace;
}